@import url('https://fonts.googleapis.com/css?family=Oswald');
.jumbotron{
    color:#FF8584;
    background-color:#102D4B;
}

body{
    background-color:#FFFFFF;
    font-family: 'Oswald', sans-serif;
}
button{
    background-color:#82D7D1;
    color:#FFFFFF;
}
a{
    color:#82D7D1;
}
.bgg{
    background-color:#FF8584;
}
.textColorBlue{
    color:#103B5C;
}
.bgnb{
   background-color:#103B5C;
}
.topA{
    text-align: center;
}

p.speech {
  position: relative;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}