@import url('https://fonts.googleapis.com/css?family=Oswald');
.image1{
	background-image: url(https://source.unsplash.com/-PtvbP1qnss);
}
.image2{
	background-image: url(https://source.unsplash.com/ALBc326eGas);
}
.image3{
	background-image: url(https://source.unsplash.com/risZYPun2ao);
}
.image4{
	background-image: url(https://source.unsplash.com/bXuWgnBHEk8);
}
.image5{
	background-image: url(https://source.unsplash.com/e8ofKlNHdsg);
}
.image6{
	background-image: url(https://source.unsplash.com/jYtMx26YbCA);
}
.image7{
	background-image: url(https://source.unsplash.com/1hGAXyyav64);
}
.image8{
	background-image: url(https://source.unsplash.com/qz7KZgeDmjU);
}
.image9{
	background-image: url(https://source.unsplash.com/jEqyV_rumuU);
}
.image10{
	background-image: url(https://source.unsplash.com/-PtvbP1qnss);
}
.image11{
	background-image: url(https://source.unsplash.com/ALBc326eGas);
}
.image12{
	background-image: url(https://source.unsplash.com/risZYPun2ao);
}
.image13{
	background-image: url(https://source.unsplash.com/bXuWgnBHEk8);
}
.image14{
	background-image: url(https://source.unsplash.com/e8ofKlNHdsg);
}
.image15{
	background-image: url(https://source.unsplash.com/jYtMx26YbCA);
}
.image16{
	background-image: url(https://source.unsplash.com/1hGAXyyav64);
}
.image17{
	background-image: url(https://source.unsplash.com/qz7KZgeDmjU);
}
.image18{
	background-image: url(https://source.unsplash.com/jEqyV_rumuU);
}
.image19{
	background-image: url(https://source.unsplash.com/qz7KZgeDmjU);
}
.image20{
	background-image: url(https://source.unsplash.com/jEqyV_rumuU);
}

.image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center center;
}